body{
    background-color: rgb(28, 26, 26);
    color:rgb(229, 232, 238));
    margin: 0px;
Header{border-bottom: solid 3px rgb(247, 244, 244);
    padding:20px;
    font-size:35px;
    color: rgb(246, 242, 242);}
    font-family: "Anton", sans-serif;
.chamada{background-color: rgb(128,0,0);
    padding-bottom:25px;
    padding-top:5px;